/* 
Stylesheet intended for use with index.js of peer2peer-POC
Made by Jacob Chunn
*/


/* Apply border-box box-sizing, and ensure most border related attributes are zeroed*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.connectionMenuContainer {
	background-color: rgb(210, 255, 245);
	height: 100vh;
	margin: 0%;
	padding: 0%;
	min-height: 100vh;
	border: 2px solid lightseagreen;
	position: relative;
	display: flex;
	flex-direction: column;
}

.connectionMenuPanelContainer {
	background-color: rgb(210, 255, 245);
	height: 90%;
	margin: 0%;
	padding: 0%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.createPanel {
	background-color: aquamarine;
	border: 2px solid lightseagreen;
	border-radius: 5px;
	padding: 1%;
	width: 98%;
	height: 90%;
	margin-left: 1%;
	float: left;
}

.joinPanel {
	background-color: aquamarine;
	border: 2px solid lightseagreen;
	border-radius: 5px;
	padding: 1%;
	width: 98%;
	height: 90%;
	margin-left: 1%;
	float: left;
}

.createText {
	padding-left: 1%;
}

.joinText {
	padding-left: 1%;
}

/* The beginning of the create Peer ID section */
.createContainer {
	background-color: rgb(210, 255, 245);
	height: 40%;
}

/* The beginning of the connect with Peer ID section */
.joinContainer {
	background-color: rgb(210, 255, 245);
	height: 40%;
}

.joinTextContainer {
	font-size: 3vh;
	height: 10%;
}

.createTextContainer {
	font-size: 3vh;
	height: 10%;
}

.connectionHeader {
	height: 10%;
	padding-top: 2%;
	font-size: 7vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	float: left;
}

.button {
	color: blue;
}

/* Changes for displaying to desktop-sized screens */
@media screen and (min-width: 700px) {
	.connectionMenuPanelContainer {
		height: 85%;
		flex-direction: row;
		align-items: center;
	}

	.connectionHeader {
		height: 15%;
	}
	
	.createPanel {
		height: 50%;
	}

	.joinPanel {
		height: 50%;
	}

	.createContainer {
		height: 100%;
		width: 53%;
		margin-left: 10%;
	}

	.joinContainer {
		height: 100%;
		width: 53%;
		margin-right: 10%;
	}

	.createText {
		height: 3%;
	}

	.joinText {
		height: 3%;
	}

	.joinTextContainer {
		height: 5%;
	}

	.createTextContainer {
		height: 5%;
	}
}

/* Changes for displaying to screens that are too short for normal page use */
@media screen and (max-height: 550px) {
	.connectionMenuContainer {
		height: 550px;
	}

	.joinTextContainer {
		font-size: 17px;
	}

	.createTextContainer {
		font-size: 17px;
	}

	.connectionHeader {
		font-size: 40px;
	}
}
